

.post-content {
	font-size: 24px;
	color: white;
    background: none repeat #FF0000;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: -54px;
    text-align:center
    position: relative;
    width:40%;

}
img {
	display: inline;
	margin: auto;
}